#life_in_zippy{
    background-color: rgb(211, 211, 211);
    padding-bottom: 2%;
  }
  
  .life_heading{
    padding-top:4%;
    text-align: center;
  }
  
  #featured{
      width:600px;
      max-height: 300px;
      object-fit: cover;
      cursor: pointer;
      margin-left: 30%;
  }
  
  .thumbnail{
      object-fit: cover;
      max-width: 130px;
      max-height: 700px;
      cursor: pointer;
      opacity: 0.8;
      margin: 5px;
  
  
  }
  
  .thumbnail:hover{
      opacity:1;
    transform: scale(2);
  }
  
  
  
  #slide-wrapper{
      max-width: 900px;
    width: 650px;
    margin: 0 auto;
      display: flex;
      min-height: 200px;
      align-items: center;
  }
  
  #slider{
      width: 900rem;
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
  
  }
  
  #slider::-webkit-scrollbar {
          display: none;
  }
  
  .arrow{
      width: 30px;
      height: 87px;
      cursor: pointer;
      transition: .3s;
    background-color: #000000;
  }
  .arrow:hover{
      background-color: #1ebba3;
  }